html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root {
    --main-color:#f9f9f9;
    --secondary-color: #707070;
    --red: orangered;
    --light-grey: #BBBABA;
    --blue: #30749E;
}
body{
   background-color: var(--main-color);
}
.grid-wrapper {
    min-height: 100%;
        font-family: AtlasGroteskWeb,"Helvetica Neue",Helvetica,Arial,sans-serif;
        color:var(--secondary-color); 
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: auto;
        grid-template-areas: "logo   header"
                             "menu   main"
                             "empty  main"
                             "empty  table"
                             "footer footer";
           
                        }    
#logo{
    justify-self:center;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-area: logo;
    background-image: url("images/portrait1.png") no-repeat;
}
#logo>:hover{
    
}


#header{
    margin: 20px;
    font-size: 2em;
    grid-area: header;
    align-self: center; 
}

#header>h2{
    border-bottom: solid, 1px;
    border-bottom-color: var(--red);
}


#menu{
       font-size: 1em;
       display: grid;
        grid-area: menu;
        justify-self: center;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
    padding-top: 25px
       }
#menu>nav>span>a{
    text-decoration: none;
    color:var(--red);
}

#empty{
    grid-area: empty;
}

.dropdown{
    padding-bottom:  130px;
   
    
}
.dropdown:hover{
    color:var(--red);
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 30px;
    z-index: 1;
}

.dropdown-content li a {
    text-decoration: none;
    display: block;
    color:var(--light-grey);
    padding: 0;
    padding-bottom:1em;
  
}

#menu>span>a, #main>div>a>h4, #menu>nav>a{
    text-decoration: none;
    display: block;
    padding: 0;
    color: var(--secondary-color); 
}

#menu>span>a:hover{
    color:var(--red);
}

.dropdown-content a:hover{
    color: var(--red)
}

.dropdown:hover .dropdown-content {
    display: block;
    list-style: none;}

#here, #here>a{color: var(--red);
}
  
#menu>nav>ul>li{ 
    display: block;
    color:var(--red);
}

#main {
    
    font-size: 13px;
    grid-area: main;
    display: grid;
    padding-right: 10px;
    grid-gap:10px;
    padding-bottom: 20px;
    grid-template-columns: 
            repeat(
                auto-fill,
                minmax(400px, 1fr));
                grid-template-rows: minmax(240px, auto);
animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */

}

#main_learn{
    font-size: 13px;
    grid-area: main;
    display: grid;
    padding-right: 20px;
    grid-gap:10px;
    padding-bottom: 20px;
    grid-template-columns: 1fr;
                
grid-template-rows: auto;
}
#main>div>h3>span{
    color: var(--red);
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


#main>div>p, #main_learn>div>p{
        padding: 5px;
        line-height: 1.5em;
        text-align: justify;
}

#main>div>h3, #main_learn>div>h3{
    color: var(--blue);
}

#main>div, #last_article{
    justify-self: center;
    padding: 15px
}
#main>div>img, #main>div>a>img, #main_learn>div>img{
  max-width: 400px;
    height: auto
}

#main>div>p>a, #main_learn>div>p>a{

    color: var(--blue);
    
}


#footer{
    align-self: end;
    min-height: 40px;
    font-size: 14px;
    color:var(--secondary-color);
    grid-area: footer;
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: auto;
    
}

#footer>span{
    align-self: center;
    justify-self: center;
    margin: 15px;
}

#footer>div>a>img{
    max-height: 60px;
    width: auto;
    padding: 10px;
}


.show-menu {display:none}

input[type=checkbox]{
    display: none;
}

@media only screen and (max-width: 950px){
    .grid-wrapper {
        display:grid;
        grid-gap: 2px;
        grid-template-columns:1fr;
        grid-template-rows: auto;
        
        grid-template-areas: "logo"
                             "header"
                             "button"
                             "menu"
                             "main"
                             "table"
                             "footer"
    }
    
 
    #logo>img{
        max-width: 100px;
        height: auto
    }
    
    #header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        font-size: 18px;
    }
    #header>div>h1{
        letter-spacing: normal
    }
    #header>div{
        justify-self:center;
        }
    #header>div>a>img{
        padding: 5px;
    
    }
    
.show-menu {
    display: block;
    grid-area: button;
    text-decoration: none;
    font-size: 12px;
    color: orangered;
    background-color: rgba(249,249,249, 0.9);
    text-align: center;
    z-index: 2;
        position: sticky;
        top:0;
        font-size:18px;
        padding:.4em;
        z-index: 0;
    transition: all 0.4s ease-in-out;

}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    justify-self:end;
    display: grid;
    transform: translateX(340px);
}


   #menu {
        position: fixed;
        z-index: 1;
        display:grid;
        background-color: white;
        padding: 7px;
        font-size:14px;
        top: 0;
        bottom: 0;
        width: 150px;
        left: -340px;
        transition: transform .3s ease-in-out;
    }
    
    .dropdown-content{
        min-width: 20px;
        padding: 0;
    }
   
    #menu>ul>li>a, #menu>nav>span{
        padding:0
    }
    
    #main {
    font-size: 13px;
    grid-area: main;
    display: grid;
        padding: 0;
        justify-self:center;
        grid-template-columns: 
            repeat(auto-fill, 
                minmax(320px, 1fr));
        }
    #main>div{
        justify-self: center
    }
    
   #main>div>img, #main>div>a>img{
  max-width: 320px;
    height: auto
}
    
    #footer{
        display:grid;
        grid-template-columns: auto;
    }

     
}
